@import '../../theme.less';

.file-page {
  text-align: left;
  margin: 50px 100px;
}

.breadcumb {
  white-space: nowrap;
  overflow: auto;
  margin-bottom: 10px;
  flex: 1 1 900px;
}

.file-item {
  height: 30px;
  line-height: 30px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  &>div {
    padding: 0px 20px;

    &:first-child {
      flex: 1 1 auto;
    }

    &:nth-last-child(1) {
      width: 135px;
    }

    &:nth-last-child(2) {
      width: 120px;
    }
  }

  &>.left-area {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }

  &>.right-area {
    display: flex;
    align-items: center;

    & .action-btn {
      transition: all 0.2s;
      text-decoration: none;
      margin-left: 5px;
      color: #333;
      border-radius: 3px;
      line-height: 16px;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.header-actions {
  font-size: 14px;
  &>button {
    margin: 0 5px;
    box-shadow: @box-shadow;
  }
}

.comfirm-content {
  margin: 3px 10px;
  font-size: 12px;
  
  .comfirm-content-text {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    transition: all 0.2s;
    border: 1px solid #aaa;
    background-color: #f3f3f3;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background-color: #aaa;
    }
  }
}

.header-bar {
  display: flex;
}

.breadcumb-item {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 5px 10px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    background-color: #eee;
  }
}

.breadcumb-item-sep {
  display: inline-block;
  vertical-align: middle;
}

.empty-list {
  text-align: center;
  padding: 100px 0;
  border: 1px solid #aaa;
}

.file-list {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 5px;
  transform: translateX(-20px);
}

.file-head {
  display: flex;
  justify-content: space-between;
  height: 35px;
  line-height: 30px;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #eee;

  &>div {
    transition: background-color 0.2s;
    cursor: pointer;
    padding: 0px 20px;
    margin-bottom: 3px;
    user-select: none;

    &:hover {
      background-color: #f3f3f3;
    }

    &:first-child {
      flex: 1 1 auto;
    }

    &:nth-last-child(1) {
      width: 135px;
    }

    &:nth-last-child(2) {
      width: 120px;
    }
  }
}

.action-menu {
  padding: 2px;

  &>.action-btn {
    text-decoration: none;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    display: block;
    padding: 5px;
    color: #333;

    &:hover {
      background-color: #eee;
    }
  }
}

.sort-icon {
  font-size: 14px;
  margin-left: 10px;
  color: #aaa;
  display: inline-block;
  transform: rotate(-90deg);

  &.revert-icon {
    transform: rotate(90deg);
  }
}

.fade-in-start {
  transform: translateX(-30px);
  opacity: 0;
}

@keyframes fade-in {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in1 {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-right1 {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-right {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.ease-in-left {
  animation: fade-in 0.3s 1 ease-out forwards;
}

.ease-in-left1 {
  animation: fade-in1 0.3s 1 ease-out forwards;
}

.ease-in-right {
  animation: fade-in-right 0.3s 1 ease-out forwards;
}

.ease-in-right1 {
  animation: fade-in-right1 0.3s 1 ease-out forwards;
}

.text-input {
  border: 1px solid #aaa;
  outline: none;
  height: 25px;
  width: 200px;
  margin: 5px 10px;
  color: #333;
  & ~ button {
    margin: 0 3px;
  }
}

.modal-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
  color: #666;
}